
.click {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

#myButton {
    border-radius: 13px;
    background-color: black;
    color: white;
}

#myButton1 {
    background-color: yellow;
}
